<ion-modal-view class="bg-sortby">
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Component Warranty</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closecompntwarranty();">Skip</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input" ng-class="allvalidation[0].validation">
                <span class="input-label">Component *</span>
                <input type="text" ng-model="componentobj.component">
            </label>
            <label class="item item-input">
                <span class="input-label">Serial No</span>
                <input type="text" ng-model="componentobj.serial">
            </label>
            <label class="item item-input" ng-class="allvalidation[1].validation">
                <span class="input-label">Purchase Date *</span>
                <input type="date" ng-model="componentobj.startdate">
            </label>
            <label class="item item-input" ng-class="allvalidation[2].validation">
                <span class="input-label">Warranty Period (months) *</span>
                <input type="text" ng-model="componentobj.warrantyperiod">
            </label>
        </div>
        <div class="padding-horizontal" ng-click="editComponentWarranty()">
            <button class="button button-balanced button-block button-outline">Save &#38; Exit</button>
        </div>
    </ion-content>
</ion-modal-view>