<ion-view view-title="Add Appliance" class="light-bg">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear small-icon">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content class="bbar-white app-cont">
        <div class="row block-down">
            <div class="col text-center blockss" ng-click="changetab(1);" ng-class="{'activetab': tabvalue == 1}">
                Appliance Summary
            </div>
            <div class="col text-center blockss" ng-click="changetab(2);" ng-class="{'activetab': tabvalue == 2}">
                Purchase Details
            </div>
            <div class="col text-center blockss" ng-click="changetab(3);" ng-class="{'activetab': tabvalue == 3}">
                Warranty / AMC
            </div>
            <div class="col text-center blockss endblocks" ng-click="changetab(4);" ng-class="{'activetab': tabvalue == 4}">
                Documents / Notes
            </div>
        </div>

        <div class="appliance" ng-if="tabvalue == 1">

            <div class="list">
                <!--                <div class="picturess  assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>-->
                <label class="item item-input" ng-click="openproductsearch();">
                    <span class="input-label">Product*</span>
                    <input type="text" ng-model="appliance.appliancetype.name" readonly>
                </label>
                <label class="item item-input" ng-click="openbrandsearch();">
                    <span class="input-label">Brand*</span>
                    <input type="text" readonly ng-model="appliance.brand">
                </label>
                <label class="item item-input">
                    <span class="input-label">Model No.</span>
                    <input type="text" ng-model="appliance.modelnumber">
                </label>

                <label class="item item-input">
                    <span class="input-label">Serial No.</span>
                    <input type="text" ng-model="appliance.serialnumber">
                </label>
                <label class="item item-input">
                    <span class="input-label">Name As*</span>
                    <input type="text" required ng-model="appliance.name">
                </label>
                <label class="item item-input" ng-click="openedit();">
                    <span class="input-label">Location</span>
                    <input type="text" ng-model="appliance.userlocation.name" readonly>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Warranty/AMC
                    </div>
                    <select ng-model="appliance.warrantyoramc">
                        <option value="">Choose</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </label>

                <div class="padding">
                    <button class="button button-outline button-block icon-right ion-chevron-right button-balanced" ng-click="changetab(2);">Next</button>
                </div>
            </div>
        </div>
        </div>


        <div class="list" ng-if="tabvalue == 2">

            <label class="item item-input">
                <span class="input-label">Purchase Date</span>
                <input type="date" ng-model="warranty.purchasedate">
            </label>

            <label class="item item-input">
                <span class="input-label">Bill No*</span>
                <input type="text" ng-model="warranty.billno" required>
            </label>

            <label class="item item-input">
                <span class="input-label">Store Name</span>
                <input type="text" ng-model="store.name">
            </label>

            <label class="item item-input">
                <span class="input-label">Store Pincode</span>
                <input type="text" ng-model="store.pincode">
            </label>

            <label class="item item-input" ng-click="openedit();">
                <span class="input-label">Store District</span>
                <input type="text" ng-model="store.district">
            </label>

            <label class="item item-input">
                <div class="input-label">
                    Store State
                </div>
                <input type="text" ng-model="store.state">
            </label>

            <label class="item item-input">
                <span class="input-label">Store Address</span>
                <input type="text" ng-model="store.address">
            </label>

            <label class="item item-input">
                <span class="input-label">Contact No.</span>
                <input type="text" ng-model="store.contact">
            </label>

            <label class="item item-input">
                <span class="input-label">Sale Person</span>
                <input type="text" ng-model="store.saleperson">
            </label>

            <label class="item item-input">
                <span class="input-label">Purchase Price</span>
                <input type="text" ng-model="purchaseprice.purchaseprice">
            </label>

            <div class="button-bar">
                <button class="button button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(1)">Previous</button>
                <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="purchaseDetails();changetab(3);">Next</button>
            </div>
        </div>
        </div>
        <div class="warranty" ng-if="tabvalue == 3">
            <div class="list">
                <div class="item product-wrnnty">
                    Product Warranty
                </div>
                <label class="item item-input">
                    <span class="input-label">Warranty Period</span>
                    <input type="text" ng-model="warranty.period">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Warranty Type
                    </div>
                    <select ng-model="warranty.type">
                        <option></option>
                        <option>On Site</option>
                        <option>Off Site</option>
                    </select>
                </label>
                <ion-item ng-click="opencomponent()">
                    <span class="balanced">Add Component Warranty</span>
                </ion-item>
                <div class="item product-wrnnty">
                    Component Warranty
                </div>
                <ion-item ng-click="opencompntwarranty(component)" ng-repeat="component in appliance.componentwarranty">
                   {{component.component}}
                    <span class="item-note">
                    </span>
                </ion-item>

                <ion-item ng-click="openpswd()">
                    <span class="balanced"> Add Additional Warranty / AMC</span>
                </ion-item>
                <div class="item product-wrnnty">
                    Additional Warranty / AMC
                </div>
                <ion-item ng-click="openwarranty(warranty)" ng-repeat="warranty in appliance.warranty">
                    {{warranty.billno}}
                    <span class="item-note">
                      
                    </span>
                </ion-item>
                <!--            </div>-->
                <!--
            <div class="" ng-click="opencomponent();">
               Component Warranty
            </div>   
               
                     <div class="add-warnty" ng-click="openpswd();">
                Additional Warranty / AMC
            </div>
-->
            </div>



            <div class="button-bar">
                <button class="button button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(2)">Previous</button>
                <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="changetab(4)">Next</button>
            </div>
        </div>


        <div class="list" ng-if="tabvalue == 4">
            <div class="item product-wrnnty">
                Product Documents
            </div>

            <label class="item" style="padding:0;">
                <div class="row">
                    <div class="col text-center">
                        <button class="button button-outline button-balanced button-block button-small" ng-class="warranty">Upload Bill</button>
                    </div>
                    <div class="col text-center">
                        <button class="button button-outline button-balanced button-block button-small" ng-class="warranty">Upload Warranty Card</button>
                    </div>
                </div>
            </label>

            <div class="item product-wrnnty">
                Add Notes
            </div>

            <label class="item item-input">
                <input type="text" placeholder="Add Note">
            </label>

            <div class="padding">
                <button class="button button-block button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(3)">Previous</button>
            </div>
        </div>
    </ion-content>
</ion-view>