<ion-view view-title="Request Service" class="light-bg">
       <ion-content>
   
        <div class="menus">
             <div class="list">
                 <ion-item class="item-picture light-bg item item-complex" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>My Mobile</h2>
                <h2>LG</h2>
            </ion-item>
         
                   <a class="item" href="#">
    Brand Call Center
  </a>
         
         <a class="item" href="#">
    Brand Service Center
  </a>
         
         <a class="item" href="#">
Authorized Service Center
  </a>
         
         <a class="item" href="#">
    Organiized Service Providers
  </a>
    
              <a class="item" href="#">
    My Service Providers
  </a> 
   
     <a class="item" href="#">
    Seller
  </a>
       </div>
        </div>
         <div class="list req-services" >
                    <div class="item product-wrnnty">
                Sony Ericsson Call Center
            </div>
  <div class="item item-button-right">
  <h4>Phone Number</h4>
   Call Timings are between 9am to 6pm.
    <button class="button button-balanced button-outline">
      <i class="icon ln-clock3"></i>
    </button>
  </div>
  <div class="item item-button-right">
      <h4>Timings</h4>
      798989898
    <button class="button button-balanced button-outline">
      <i class="icon ln-phone"></i>
    </button>
  </div>
   <div class="item item-button-right">
       <h4> SMS</h4>
       Not Avaliable
    <button class="button button-balanced button-outline">
      <i class="icon ln-comment"></i>
    </button>
  </div>
   <div class="item item-button-right">
      <h4>Phone Number</h4>
       Not Avaliable
    <button class="button button-balanced button-outline">
      <i class="icon ln-envelope"></i>
    </button>
  </div>  
    <div class="item item-button-right">
    <h4>Complaint Form</h4>
    (Coming Soon)
    <button class="button button-balanced button-outline">
      <i class="icon ln-register"></i>
    </button>
  </div>
        </div>
        </ion-content>
</ion-view>