<ion-view view-title="Request Service" class="light-bg">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon-right ln-options button-clear small-icon" ng-click="toggleCustom()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ln-tab btn-sort small-icon" ng-click="opensortservice();" ng-if="brandservice=='bold' || authorizedservice=='bold' || organisedservice=='bold'|| otherservice=='bold'">
        </button>
        <button class="button button-icon button-clear ln-funnel small-icon" ng-click="openfilterservice();" ng-if="brandservice=='bold' || authorizedservice=='bold' || organisedservice=='bold'|| otherservice=='bold'">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <!--        <div class="menus" ng-hide="custom">-->
        <div class="menus animate-show" ng-hide="custom">
            <div class="list">
                <ion-item class="item-picture light-bg item item-complex item-lights hrdown">
                    <div class="picture assertive-bg picture-service" style="background-image: url('img/icons/Mobile.png');"></div>
                    <h2>My Mobile</h2>
                    <p>LG</p>
                </ion-item>

                <div class="item active" ng-click="changebrandcall();">
                    Brand Call Center
                </div>

                <div class="item" ng-click="brandservice();">
                    Brand Service Center
                </div>

                <div class="item" ng-click="authorizedservice();">
                    Authorized Service Center
                </div>

                <div class="item" ng-click="organisedservice();">
                    Organized Service Providers
                </div>
                <div class="item" href="#" ng-click="otherservice();">
                    Other Service Providers
                </div>

                <div class="item" ng-click="changemyservice();">
                    My Service Providers
                </div>

                <div class="item" ng-click="changeseller();">
                    Seller
                </div>
            </div>
        </div>


        <div class="list req-services" ng-if="brandcall=='bold'">
            <div class="item product-wrnnty">
                Sony Ericsson Call Center
            </div>
            <div class="item item-button-right">
                <h4>Timings</h4>
                Call Timings are between 9am to 6pm.
                <button class="button button-balanced button-outline">
                    <i class="icon ln-clock3"></i>
                </button>
            </div>
            <div class="item item-button-right">
                <h4>Phone Number</h4>
                798989898
                <button class="button button-balanced button-outline">
                    <i class="icon ln-phone"></i>
                </button>
            </div>
            <div class="item item-button-right">
                <h4> SMS</h4>
                Not Avaliable
                <button class="button button-balanced button-outline">
                    <i class="icon ln-comment"></i>
                </button>
            </div>
            <div class="item item-button-right">
                <h4>Email</h4>
                Not Avaliable
                <button class="button button-balanced button-outline">
                    <i class="icon ln-envelope"></i>
                </button>
            </div>
            <div class="item item-button-right">
                <h4>Complaint Form</h4>
                (Coming Soon)
                <button class="button button-balanced button-outline">
                    <i class="icon ln-register"></i>
                </button>
            </div>
        </div>


        <div class="making" ng-if="myservice=='bold'">
            <div class="list req-services">
                <div class="item product-wrnnty">
                    Previous Service Provider
                </div>
                <div class="item item-button-right" ng-click="openviewdetails();">
                    <h3>ASP</h3>
                    Virdavan Society Sion Chunabhatti V N Purav Marg Mumbai-400 022
                    <i class="icons ln-chevron-right icon-arrows"></i>
                    </button>
                </div>
                <div class="item product-wrnnty">
                    My Service Providers
                </div>

                <div class="item item-button-right" ng-click="openviewdetails();">
                    <h3>ASP</h3>
                    Virdavan Society Sion Chunabhatti V N Purav Marg Mumbai-400 022
                    <!--                <button class="button button-balanced button-outline" ng-click="openviewdetails();">-->
                    <i class="icons ln-chevron-right icon-arrows"></i>
                    <!--                </button>-->
                </div>


            </div>
            <div class="padding-horizontal">
                <button class="button button-outline button-balanced button-block" ng-click="openaddservice();">
                    Add Service Provider
                </button>
            </div>
        </div>


        <div class="making" ng-if="seller=='bold'">
            <div class="list req-services">
                <div class="item product-wrnnty">
                    Magnet
                </div>
                <div class="item item-button-right">
                    <h3>Magnet</h3>
                    <p>Sion Chunabhatti Mumbai, 400022 Maharashtra</p>
                    <button class="button button-balanced button-outline">
                        <i class="icon ln-location"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    <h4>Timings</h4>
                    Call Timings are between 9am to 6pm.
                    <button class="button button-balanced button-outline">
                        <i class="icon ln-clock3"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    <h4>Phone Number</h4>
                    798989898
                    <button class="button button-balanced button-outline">
                        <i class="icon ln-phone"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    <h4> SMS</h4>
                    Not Avaliable
                    <button class="button button-balanced button-outline">
                        <i class="icon ln-comment"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    <h4>Email</h4>
                    Not Avaliable
                    <button class="button button-balanced button-outline">
                        <i class="icon ln-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="making" ng-if="brandservice=='bold'">
            jkgg
        </div>

        <div class="making" ng-if="authorizedservice=='bold'">
        </div>

        <div class="making" ng-if="organisedservice=='bold'">
        </div>

        <div class="making" ng-if="otherservice=='bold'">
        </div>
    </ion-content>
</ion-view>