<ion-view view-title="Manage Appliance">
   <ion-scroll zooming="false" direction="x" class="light-bg stickyScroll">
            <div class="flex-block">
                <div class="blocks text-center">
                    <h3 class="icon ln-archive"></h3>
                    Archive
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-tab"></h3>
                    Transfer
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-trash2"></h3>
                    Delete
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-wrench"></h3>
                    Service
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-circle-exclamation"></h3>
                    Info
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-cart"></h3>
                    Buy
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-tag"></h3>
                    Sell
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-register"></h3>
                    Review
                </div>
                <div class="blocks text-center">
                    <h3 class="icon ln-users"></h3>
                    Forum
                </div>
            </div>
        </ion-scroll>
    <ion-content class="scroll-above">
       
        <div class="list">
            <div class="item withlist">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
            </div>
            <label class="item item-input">
                <span class="input-label">Product*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Name As*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Brand*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Model No.</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Serial No.</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Cover</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Expiry</span>
                <input type="text">
            </label>
        </div>


    </ion-content>
</ion-view>
