<ion-modal-view>
    <ion-header-bar class="bar-balanced bar-header" align-title="center">
        <h1 class="title">Select Location</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModalss()">Close</button>
        </div>
    </ion-header-bar>
       <ion-scroll zooming="false" direction="x" class="light-bg stickyScroll">
            <div class="flex-block">
                <div class="blocks1 text-center"  ng-click="tabvalue = 1;" ng-class="{'activetab': tabvalue == 1}">
                    My Home
                </div>
                <div class="blocks1 text-center"  ng-click="tabvalue = 2;" ng-class="{'activetab': tabvalue == 2}">
                    My Office
                </div>
                <div class="blocks1 text-center"  ng-click="tabvalue = 3;" ng-class="{'activetab': tabvalue == 3}">
                    Add New
                </div>
            </div>
        </ion-scroll>
    <ion-content class="tabs-conts">     
        <div class="list" ng-if="tabvalue == 1">
            <label class="item item-input">
                <span class="input-label">Location*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode*</span>
                <input type="text" required>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    District/City*
                </div>
                <select>
                    <option></option>
                    <option>Mumbai</option>
                    <option>Delhi</option>
                    <option>Bangluru</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State*
                </div>
                <select>
                    <option></option>
                    <option>Maharashtra</option>
                    <option>Delhi</option>
                    <option>Karnataka</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <textarea required>
                </textarea>
            </label>
        </div>
        <div class="list" ng-if="tabvalue == 2">
            <label class="item item-input">
                <span class="input-label">Location*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode*</span>
                <input type="text" required>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    District/City*
                </div>
                <select>
                    <option></option>
                    <option>Mumbai</option>
                    <option>Delhi</option>
                    <option>Bangluru</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State*
                </div>
                <select>
                    <option></option>
                    <option>Maharashtra</option>
                    <option>Delhi</option>
                    <option>Karnataka</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <textarea required>
                </textarea>
            </label>
        </div>
        <div class="list" ng-if="tabvalue == 3">
            <label class="item item-input">
                <span class="input-label">Location*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode*</span>
                <input type="text" required>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    District/City*
                </div>
                <select>
                    <option></option>
                    <option>Mumbai</option>
                    <option>Delhi</option>
                    <option>Bangluru</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State*
                </div>
                <select>
                    <option></option>
                    <option>Maharashtra</option>
                    <option>Delhi</option>
                    <option>Karnataka</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <textarea required>
                </textarea>
            </label>
        </div>
        <div class="button-bar padding">
            <button class="button button-outline button-balanced">Select</button>
        </div>
    </ion-content>
</ion-modal-view>