<ion-view hide-nav-bar="true" class="light-bg">
    <ion-content>
        <div class="logo">
            <img src="img/logo.jpeg">
            <h4>App Lions</h4>
        </div>
        <div class="list login-text">
            <label class="item item-input login-i">
                <i class="icon ln-envelope"></i>
                <input type="email" placeholder="Email Id">
            </label>
            <label class="item item-input login-i">
                <i class="icon ln-lock"></i>
                <input type="password" placeholder="Password">
            </label>
        </div>
        <div class="padding-horizontal btn-signin">
            <a class="button button-block button-balanced" href="#/tab/home">
            Sign In
            </a>
        </div>
        <div class="login-with">
            or login with
        </div>
        <div class="button-bar padding-horizontal">
            <a class="button button-fb button-outline margin-right" href="#/tab/home">
                <i class="ion-social-facebook"></i>
            </a>
<!--
            <a class="button button-twit button-outline margin-right" href="#/tab/home">
                <i class="ion-social-twitter"></i>
            </a>
-->
            <a class="button button-google button-outline" href="#/tab/home">
                <i class="ion-social-googleplus"></i>
            </a>
        </div>
        <div class="forgot padding-horizontal">
            <a href="#/forgot/forgot" class="left">Forgot Password?</a>
            <span class="right">New Here <a href="#/reg/registration"> Sign Up</a></span>
        </div>

    </ion-content>
</ion-view>