<ion-view hide-nav-bar="true" class="light-bg">
    <ion-content>
        <div class="logo">
            <img src='img/logo.png'>
        </div>
        <div class="btn-login padding-horizontal">
            <a class="button button-block btn-reg button-balanced" href="#/tab/home">
                        Register
            </a>
            <p class="login-or">
                Or
            </p>
            <a class="button button-block btn-login button-balanced" href="#/tab/home">
                 Login
            </a>
            <a class="button button-fb icon-left ion-social-facebook button-outline button-block" href="#/tab/home">
                 Login with Facebook
            </a>
            <a class="button button-twit icon-left ion-social-twitter  button-outline button-block" href="#/tab/home">
                 Login with twitter
            </a>
            <a class="button button-google icon-left ion-social-googleplus  button-outline button-block" href="#/tab/home">
                Login with Google+
            </a>

        </div>
        <!--
        <div class="list login-text">
            <label class="item item-input">
                <input type="text" placeholder="Enter your Email Id">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </div>
        <div class="list ">
            <div class="item login-wid">
                or login with
            </div>
        </div>
-->
        <!--
        <div class="button-bar">
            <a class="button button-fb button-outline" href="#/tab/home">
                <i class="ion-social-facebook"></i>
            </a>
            <a class="button button-twit button-outline" href="#/tab/home">
                <i class="ion-social-twitter"></i>
            </a>
            <a class="button button-google button-outline" href="#/tab/home">
                <i class="ion-social-googleplus"></i>
            </a>
        </div>
-->
    </ion-content>
</ion-view>