<ion-modal-view>
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Chnage Password</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closechngpswd();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email Id</span>
                <input type="text" value="sahil@gmail.com" ng-model="profile.email" disabled>
            </label>
            <label class="item item-input" ng-class="allvalidation[0].validation">
                <span class="input-label">Old Password</span>
                <input type="password" ng-model="password.password">
            </label>
            <label class="item item-input" ng-class="allvalidation[1].validation">
                <span class="input-label">New Password</span>
                <input type="password" ng-model="password.editpassword">
            </label>
            <label class="item item-input" ng-class="allvalidation[2].validation">
                <span class="input-label">Retype New Password</span>
                <input type="password" ng-model="password.confpassword">
            </label>
        </div>
        <div class="padding-horizontal" ng-click="changePassword()">
            <button class="button button-assertive button-block">Change Password</button>
        </div>
    </ion-content>
</ion-modal-view>