<ion-modal-view class="bg-archive">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Confirm Archive</h1>
    </ion-header-bar>
    <ion-content>
<div class="cont-archive">
       <p> This appliance will be archived.You can view this appliance by selecting "Archived" in Status tab of filter.You can also Un-Archived this appliance from there.</p>
       <p class="cont-que"> Do you want to archive this appliance?</p>
    </div>
    </ion-content>
    <ion-footer>
                <div class="button-bar bottom-stick">
            <button class="button button-balanced button-outline button-small" ng-click="closearchive();">No</button>
            <button class="button button-balanced button-outline button-small">Yes</button>
        </div>
    </ion-footer>
</ion-modal-view>