<ion-modal-view class="bg-filter">
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Filter</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closefilter();">Close</button>
        </div>
    </ion-header-bar>

    <div class="row filter-modal">
        <div class="col col-50">
            <ion-list>
                <ion-item class="active" >
                <div ng-click="changeappstatus();">Appliance Status</div>
                </ion-item>
                <ion-item>
                    <div ng-click="changetype();">Appliance Type</div>
                    </ion-item>
                <ion-item>
                <div ng-click="changelocation();">Location
                    </div>
                </ion-item>
                <ion-item>
                <div ng-click="changecoverstatus();">
                    Cover Status
                    </div>
                    </ion-item>
                <ion-item>
                <div ng-click="changecovertype();">Cover Type</div>
                </ion-item>
            </ion-list>
        </div>
        <div class="col right" ng-if="appstatus=='bold'">
            <div class="bar item-input-inset search-app">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search">
                </label>
            </div>
            <ion-list>
                <ion-item class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">

                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Active
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Archived
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Transfered
                    </label>
                </ion-item>
            </ion-list>
        </div>       
           
             <div class="col right" ng-if="apptype=='bold'">
            <div class="bar item-input-inset search-app">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search">
                </label>
            </div>
            <ion-list>
                <ion-item class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">

                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Air Conditioner
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Air Cooler
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Audio System
                    </label>
                </ion-item> 
                   <ion-item>
                    <label>
                        <input type="checkbox"> Bluetooth Headphone
                    </label>
                </ion-item> 
                   <ion-item>
                    <label>
                        <input type="checkbox"> Blu-ray Player
                    </label>
                </ion-item>
            </ion-list>
        </div>       
           
             <div class="col right" ng-if="location=='bold'">
            <div class="bar item-input-inset search-app">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search">
                </label>
            </div>
            <ion-list>
                <ion-item class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">

                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> My Office
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> My Home
                    </label>
                </ion-item>
            </ion-list>
        </div>       
           
             <div class="col right" ng-if="coverstatus=='bold'">
            <div class="bar item-input-inset search-app">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search">
                </label>
            </div>
            <ion-list>
                <ion-item class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">

                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Covered
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Near Expiry
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Expired
                    </label>
                </ion-item>    
                         <ion-item>
                    <label>
                        <input type="checkbox"> No Details
                    </label>
                </ion-item>
            </ion-list>
        </div>
                   
             <div class="col right" ng-if="covertype=='bold'">
            <div class="bar item-input-inset search-app">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search">
                </label>
            </div>
            <ion-list>
                <ion-item class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">

                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Warranty
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> Extented Warranty
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="checkbox"> AMC
                    </label>
                </ion-item>
                    <ion-item>
                    <label>
                        <input type="checkbox"> Component Warranty
                    </label>
                </ion-item>
            </ion-list>
        </div>
        
        <div class="button-bar bottom-stick">
            <button class="button button-balanced button-block">Clear</button>
            <button class="button button-balanced button-block">Apply</button>
        </div>
    </div>

</ion-modal-view>