<ion-modal-view class="bg-sortby">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Service Report</h1>
<!--
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closesort();">Close</button>
        </div>
-->
    </ion-header-bar>
<ion-content>
    <div class="row report-tab">
        <div class="col text-center head-report">
            New Report
        </div>    
               <div class="col text-center head-report">
            Previous Report
        </div>
    </div>
    <div class="list">
        <div class="item product-Report">
              Appliance Details
            </div>
           
    </div>
     <div class="list">
<!--
            <ion-item class="item-picture light-bg item item-complex" href="#/tab/home/edit"><a class="item-content" ng-href="#/tab/home/edit" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>My Mobile</h2>
                <p>Make:</p>
                <p>Warranty: N/A</p>
            </a></ion-item>
-->
        </div>
    <div class="row">
        <div class="col-33">
          <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
        </div>
           <div class="col-67">
           <h2>Appliance Type</h2>
           <p>Mobile Type</p>
        </div>
    </div>
</ion-content>
</ion-view>