<ion-modal-view class="bg-archive bg-delete">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Confirm Delete</h1>
    </ion-header-bar>
    <ion-content>
<div class="cont-archive">
       <p> This appliance will be Delete.You will loose all the information related to this appliance permanently</p>
       <p class="cont-que"> Do you want to Delete this appliance?</p>
    </div>
    </ion-content>
    <ion-footer>
                <div class="button-bar bottom-stick">
            <button class="button button-balanced button-small" ng-click="closedelete();">No</button>
            <button class="button button-balanced button-small">Yes</button>
        </div>
    </ion-footer>
</ion-modal-view>