<ion-modal-view class="">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">FeedBack</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closefeedback();">Close</button>
        </div>
    </ion-header-bar>
<ion-content>
      <div class="list">
            <label class="item item-input">
                <span class="input-label">Mobile Number</span>
                <input type="text" value="9920239205" disabled>
            </label>    
                  <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text">
            </label>    
                  <label class="item item-input">
                <span class="input-label">FeedBack</span>
                      <textarea>
                          
                      </textarea>
            </label>   
    </div>  
<div class="right-btn">
                <button class="button button-outline button-balanced button-small">Submit</button>
    </div>
</ion-content>
</ion-modal-view>