<ion-view view-title="Mobile Verification">
    <ion-content class="has-header otpbg">
        <div class="otp-title">
            <div class="title">
                <p>Enter Your Mobile Number!</p>
            </div>
            <ion-item>
                <label class="item item-input">
                   <label>+91</label> <input type="text" placeholder="Mobile Number">
                </label>
            </ion-item>
        </div>
        <div class="otpnote  padding-horizontal">
            <p><span>Note:</span> We will send you One Time Password (OTP)to the mobile number enterd above.</p> 
        <button class="button button-block button-light">
        Submit
</button>
        </div>
    </ion-content>
</ion-view>