<ion-view view-title="AppLions">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ln-tab small-icon">
        </button> 
         <button class="button button-icon button-clear ln-funnel small-icon" ng-click="openfilter();">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-picture light-bg" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>My Mobile</h2>
                <p>Make:</p>
                <p>Warranty: N/A</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>